.comment-card{
    height: 71vh;
    overflow-y: scroll;
    border: 1px solid rgb(134, 130, 130);
    border-radius: 5px;
}


.custom-scroll::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.custom-scroll:hover::-webkit-scrollbar {
    background: #ddd; 
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}


.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.custom-scroll:hover {
    scrollbar-color: #aaa transparent;
}